/*Background*/
.section-hero {
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /*100% de la hauteur de l'écran*/
}

.bg-section3 {
    background-image: url("asset/bg-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.white{color: white;}