@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
/*Background*/
.section-hero {
    background-image: url("asset/bg-image-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*100% de la hauteur de l'écran*/
}

.bg-section3 {
    background-image: url("asset/bg-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.white {
    color: white;
}

.button {
    color: white;
    background-color: #353434;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 7px;
    padding-left: 20px;
    gap: 57px;
    opacity: 1;
}
/*FLEX BOX*/
.flex{
    display: flex;
    flex-wrap: wrap;
}
.space-between{justify-content:space-between;}
.gap-8{gap:20px}
.align-center{align-items: center;}
.justify-center{justify-content: center;}

/*TEXTE*/
a{text-decoration: none;}
.black{color: black;}
/*MARGIN ET PADDING*/
.p-40{padding: 40px;}
.p-50{padding: 50px;}
.mgt-20{margin-top: 20px;}
.mgt-50{margin-top: 100px;}
/*TAILLES*/
.w-40{width: 40%;}
.w-30{width: 30%;}